@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Anaheim:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Helvetica Neue', sans-serif;
}

.inter {
  font-family: 'Inter', serif;
  font-optical-sizing: auto;
}

.helvetica {
  font-family: 'Helvetica Neue', serif;
  font-optical-sizing: auto;
}
